.Chart {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5em;
}

.Chart-aggregates {
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 2.5em;
}

.Chart-aggregatesItem {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.4em;
}

.Chart-aggregatesName {
  font-weight: 700;
}
