.Chart-button {
  font-size: 1.3em;
  font-weight: 700;
  width: 5.15em;
}

.Chart-noData {
  display: grid;
  place-items: center;
  margin: 0;
  border: 1px solid var(--color-grey-2);
  width: 100%;
  max-width: 800px;
  height: 600px;
}
