#root {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  place-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App-header {
  display: contents;
}

.App-main {
  display: contents;
}
