#root {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  gap: 2em;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App-main {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  gap: 2em;
}
